[user]
  name = Visnu Pitiyanuvath
  email = visnupx@gmail.com
[color]
  ui = auto
[color "branch"]
  current = blue ul
  local = blue
[color "diff"]
  meta = black bold
  frag = blue
  old = red
  new = green
  whitespace = red reverse
[color "status"]
  untracked = red ul
[push]
  default = current
[branch]
  autosetuprebase = always
[alias]
  br  = branch
  ci  = commit --verbose
  co  = checkout
  d   = diff --ignore-space-change
  fgr = grep --heading --line-number --break --fixed-strings
  fgrep = grep --fixed-strings
  gr  = grep --heading --line-number --break
  ic  = commit --verbose
  l   = log --decorate
  oc  = checkout
  pr = pull-request --browse
  pul = pull
  root = rev-parse --show-toplevel
  st  = status --short --branch
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[github]
  user = visnup
  password = !security 2>&1 >/dev/null find-internet-password -gs github.com | ruby -e 'print $1 if STDIN.gets =~ /^password: \"(.*)\"$/'
[core]
  editor = vim
[credential]
	helper = osxkeychain
[merge]
	tool = gvimdiff
	defaultToUpstream = true
[help]
	autocorrect = 1
