[user]
	name = Visnu Pitiyanuvath
	email = visnup@gmail.com
[color]
	ui = auto
[color "branch"]
	current = blue ul
	local = blue
[color "diff"]
	meta = black bold
	frag = blue
	old = red
	new = green
	whitespace = red reverse
[color "status"]
	untracked = red ul
[push]
	default = current
[alias]
	br  = branch
	ci  = commit --verbose
	co  = checkout
	ic  = commit --verbose
	oc  = checkout
	pul = pull
	root = rev-parse --show-toplevel
	st  = status --short --branch
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[core]
	editor = vim
[merge]
	defaultToUpstream = true
[help]
	autocorrect = 1
[fetch]
	prune = true
[hub]
	protocol = https
[pull]
	rebase = true
[init]
	defaultBranch = main
